<form >
    <div class="row">
     <div class="col-lg-4">
       <div class="form-group">
         <label >Card Number </label>
         <input type="text" class="form-control"  value="1234567890123456">
       </div>
     </div>
     <div class="col-lg-4">
        <div class="form-group">
          <label >Card Name</label>
          <input type="text" class="form-control"  value="master">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group">
          <label >Payment Id</label>
          <input type="text" class="form-control"  value="22">
        </div>
      </div>
    </div>
       </form>