
<mat-toolbar color="primary" class="example-toolbar">
	<button mat-icon-button (click)="isExpanded = !isExpanded"><mat-icon>menu</mat-icon></button>
	<button mat-icon-button style="float: right; " (click)="logout">
		<a  (click)="logout()">Logout</a>
	</button>

</mat-toolbar>
<mat-sidenav-container class="example-container" autosize>
	<mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
		<mat-nav-list>
			<mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
				<span class="full-width" *ngIf="isExpanded || isShowing"> Menu</span>
				<mat-icon mat-list-icon>home</mat-icon>
				<mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
			</mat-list-item>
			<div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
				<a mat-list-item (click)="checkin('CheckIn')">CheckIn</a>
				<a mat-list-item (click)="checkin('Flight Status')">Flight Status</a>
				<a mat-list-item (click)="checkin('Flight Search')">Flight Search</a>
				<a mat-list-item (click)="checkin('Courier')">Courier</a>
				<a mat-list-item (click)="checkin('baggage Loss')">baggage Loss</a>
				<a mat-list-item (click)="checkin('Refund')">Refund</a>
			</div>
		</mat-nav-list>
    <mat-nav-list>
</mat-nav-list>
	</mat-sidenav>

	<div class="example-sidenav-content">
        <router-outlet></router-outlet>
	</div>

</mat-sidenav-container>
